<div class='film-modal-info-container'>
  <button id='arrow-prev' data-next='' class='film-info__arrow lightbox__arrow-prev'>«</button>

  <div class='film-modal-content-container'>
    <div class='tabs__nav'>
      {{#if videoSrc}}
        <button id='tab-info' class='tabs__btn   {{#if (ifequal tab 'info')}}current-tab gradient-button{{/if}}'>
          Info
        </button>
        <button id='tab-video' class='tabs__btn {{#if (ifequal tab 'video')}}current-tab gradient-button{{/if}}'>
          Trailer
        </button>
      {{/if}}
    </div>
    <div class='tabs__content'>
      {{#if (ifequal tab 'info')}}

        <div class='side-container'>
          <div class='left-side'>
            <img class="film-img" src='{{poster}}' alt='{{title}}' />
          </div>
          <div class='right-side'>
            <h2 class='film-title'>{{title}}</h2>
            <div class='film-info'>
              <div class='votes'>
                <p class='film-text'>Vote / Votes</p>
                <p class='film-votes film-text'>
              <span class='film-rating film-text'>{{voteAverage}}

              </span>&nbsp;/<span
                  class='rating'
                >{{voteCount}}</span>
                </p>
              </div>
              <div class='popularity'>
                <p class='film-text'>Popularity</p>
                <p class='film-text-color film-text'>{{popularity}}</p>
              </div>
              <div class='original-title'>
                <p class='film-text'>Original Title</p>
                <p class='film-text-color film-text'>{{originalTitle}}</p>
              </div>
              <div class='genre'>
                <p class='film-text'>Genre</p>
                <p class='film-text-color film-text'>{{genres}}</p>
              </div>
            </div>
            <p class='about-film'>About</p>
            <p class='about-film-info'>
              {{about}}
            </p>
            <div class='btn-container'>
              {{#if watched}}
                <button class='btn-watched glow-button' id='remove-from-watched'>Remove from Watched</button>
              {{else}}
                <button class='btn-watched gradient-button' id='add-to-watched'>Add to Watched</button>
              {{/if}}
              {{#if queue}}
                <button class='btn-queue glow-button' id='remove-from-queue'>Remove from Queue</button>
              {{else}}
                <button class='btn-queue gradient-button' id='add-to-queue'>Add to Queue</button>
              {{/if}}
            </div>
          </div>
        </div>

      {{else}}

        <div class='iframe'>
          <iframe class='player' id='player-1' src='{{videoSrc}}' width='560' height='315' allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
          </iframe>
        </div>

      {{/if}}
    </div>
  </div>
  <button id='arrow-next' data-next='' class='film-info__arrow lightbox__arrow-next'>»</button>
</div>