<div class='film-card {{customClasses}}'>
  {{#if poster}}
  <img src='{{poster}}' alt=' {{imageDescription}}' class='filmoteka__image' />
  {{ else }}
  <div class='image-plug'></div>
  {{/if}}
  <p class='film-card__name'> {{title}}</p>
  <p class='film-card__data'>
    {{genres}}
    {{#if genres}}<span class='film-card__divider'>&nbsp;|&nbsp;</span>{{/if}}
    <span class='film-card__year'> {{year}}</span>
    <span class='film-card__rating'>{{rating}}</span>
  </p>
  <div data-id='{{filmId}}' class='click-trap'></div>
</div>